@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4">Executive Challenge</h1>
    <p class="lead">
        "Chat with your data" token utilization and cost monitoring challenge.
        Simplify data analysis for non-technical users.
    </p>
</div>

<div class="text-center mt-5">
    <h3 class="display-4">Description</h3>
    <p class="lead">
        Today, the ability to target, retrieve, manipulate, understand, and analyze data is being rapidly democratized by AI.
        By enabling scenarios such as creating SQL queries from natural language prompts, companies are now able to empower
        entire business units in ways that would have required dedicated specialists in the past. However, it’s important for
        businesses to be able to control their costs without incurring unexpectedly large expenses. The goal of this challenge
        is to create a natural language to data query proof of concept that tracks and displays token usage and costs per user
        prompt and response, providing transparency in token consumption.
    </p>
</div>